name: Azure Synapse Deployment

on:
  push:
    branches:
      - main  # Trigger the workflow on pushes to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Azure PowerShell
      uses: azure/setup-azure-powershell@v1
      with:
        azps-version: '2.1.0'  # Specify the Azure PowerShell module version

    - name: Install Azure CLI
      run: |
        curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

    - name: Set up Azure CLI
      uses: azure/login@v1
      with:
        creds: ${{ secrets.GITHUB }} # Use the secret name where you stored your Azure credentials


    # - name: Login to Azure
    #   run: |
    #     az login --service-principal --tenant <your-tenant-id> --username <your-client-id> --password <your-client-secret>
    #     az account set --subscription "fc1a89fb-a3f7-4959-b325-efcd15bb63dc"

    - name: Deploy to Azure Synapse
      run: |
        # Replace the placeholders with your actual deployment commands
        az synapse sql pool tsql invoke -w <workspace-name> -g <resource-group-name> --server-name <server-name> --database-name <database-name> -q "your-deployment-script.sql"

    - name: Logout from Azure
      run: az logout

